nav {
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
  }
  
  li {
    display: inline;
    margin-right: 15px;
  }
  
  a {
    text-decoration: none;
    color: #333;

  }
  
  a:hover {
    color: #555;
  }

  .social-links {
    display: flex;
    justify-content: flex-start;
    margin-right: 40px;
    background-color: green ;
    display: inline-block;
    border-radius: 0px 0px 20px 0px;
    transform: skew(-20deg);
    overflow: hidden;
    width: 280px;
    height: 50px;
  }
  
  .social-links a {
    margin: 0 5px;
    color: #333;
    margin-right: 5px;
  }
  
  .social-links a:hover {
    color: #555;
  }

  .social-links a i {
    color: #333;
  }
  
  .social-links a:hover i {
    color: #555;
  }

  .social-links {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }
  
  .bottom-nav {
    margin-top: 20px;
  }

  .btn-link{
    margin-right: 15px;
    background-color: green;
    border: green;
    color: white;
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
    margin-top: -10px;
  }

  .btn-link:hover{
    background-color: limegreen;
    cursor: pointer;
  }

  .top-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 40px;
    background-color: chartreuse   ;
    display: inline-block;
    border-radius: 20px 20px 20px 20px;
    overflow: hidden;
    width: 720px;
    height: 100px;

  }
  .wrapper{
    
  }
  .top-nav-ul{
    align-items: center;
    text-align: center;
    margin-right: 35px;
    margin-top: 40px;
  }
.top-nav-link{
  margin-right: 50px;
  margin-top: -40px;
  width: 70px;
  height: 100px;
  background-color: chartreuse;
  border: none;
 
}
.top-nav-link:hover{
  
  background-position: 0 0;
  background: linear-gradient(to top, white 0%, transparent 100%);
  background-position: 0 100%;
  transition: background-position 0.5s;
  cursor: pointer;
}